.custom-dialog-container {
  transform: translateY(100%);
  transition: transform 0.3s ease-out;
}

.custom-dialog-container.mat-dialog-open {
  transform: translateY(0);
}

.cdk-overlay-pane.my-dialog {
  position: relative!important;
}
.close.mat-button {
  position: absolute;
  top: 0;
  right: 0;
  padding: 5px;
  line-height: 14px;
  min-width: auto;
}
