<div class="container mt-5">
    <h2>Users</h2>
    <table class="table table-bordered table-hover">
        <thead class="thead-light">
            <tr>
                <th>Login</th>
                <th>Email</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let user of users">
                <td>{{ user.login }}</td>
                <td>{{ user.email }}</td>
                <td>
                  <a [routerLink]="['/users', user.id]" matTooltip="View User">
                    <i class="material-icons">visibility</i>
                  </a>
                  <a [routerLink]="['/users/edit', user.id]" matTooltip="Edit User">
                    <i class="material-icons">edit</i>
                  </a>
                  <a [routerLink]="['/users']" (click)="delete(user.id)">
                    <i class="material-icons">delete</i>
                  </a>
                </td>
            </tr>
        <tr>
          <td colspan=3>
            <a [routerLink]="['/users/new']" matTooltip="Create User">
              <i class="material-icons">add</i>
            </a>
          </td>
        </tr>
        </tbody>
    </table>
</div>
